.bloqueo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4; /* Color de fondo suave */
}

.bloqueo-box {
    text-align: center;
    padding: 40px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    max-width: 600px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.bloqueo-title {
    color: #e44d26; /* Color de título, puedes ajustarlo según tus preferencias */
}

.bloqueo-text {
    font-size: 16px;
    line-height: 1.5;
    color: #333; /* Color de texto principal */
    margin-bottom: 20px;
}